.overlay{
    @apply fixed inset-0 bg-black bg-opacity-70 z-30;
    @apply flex justify-center items-center;

    .popup-modal{
        @apply relative;
        @apply min-w-[40%] min-h-[40vh] p-10 flex justify-center items-center;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(10px);
        border: 1px solid #484848;
        text-shadow: 1px 1px 20px BLACK;

        .content {
            @apply flex flex-col text-center;
        }

        .close{ 
            @apply absolute top-4 right-4 text-lightblue;
            @apply cursor-pointer;

            svg{
                @apply w-6 h-6;
            }
        }
    }
}