.page-wrapper{
    
    @apply relative w-full px-6 flex flex-col grow bg-no-repeat bg-left pb-6;
    background-image: url('/images/bg-network.jpg');
    background-size: auto 100%;

    p{
        @apply font-thin;
    }

    .main-img{
        @apply w-full md:max-w-none;
    }
    
    &::before{
        content: "";
        @apply absolute inset-0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 1) 60%);

        @media screen and (min-width: 768px){
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 1) 60%);
        }

    }

    .form{
        @apply flex gap-4 flex-col;

        input, textarea, .custom-select{
            @apply w-full bg-[rgba(255,255,255,0.1)] px-4 py-3;
            outline: none;
            backdrop-filter: blur(6px);
            @apply border-double border-2 border-transparent;

            &:focus{
                @apply border-double border-2 border-lightblue;
            }
        }
        textarea{
            @apply min-h-[12rem];
        }

        .custom-select{
            @apply relative inline-block p-0;

            select{
                @apply bg-transparent relative z-10 px-4 py-3;
                appearance: none; /* Removes the default arrow */
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 100%;
                height: 100%;
                outline: none;
                cursor: pointer;
                @apply border-double border-2 border-transparent;

                &:focus{
                    @apply border-double border-2 border-lightblue;
                }
    
            }

            .custom-arrow{
                @apply absolute top-[38%] right-5 text-lightblue;
            }
        }

        button{
            @apply bg-lightblue text-black p-4 transition-all duration-300 mt-4;
            @apply hover:bg-magenta hover:text-white;
            @apply focus:bg-magenta focus:text-white;
            @apply outline-none;
            
        }
    }
}