.main-header{
    @apply w-full bg-darkgray py-5 px-4;
    @apply fixed md:relative z-10 md:z-0 top-0;

    &.open .container{

        .fm-logo{
            @apply z-20;
        }

        nav{
            .nav-panel{
                @apply flex fixed w-full h-full right-0 top-0 z-10;
                @apply opacity-0 translate-x-full;
                background: linear-gradient(168deg, rgb(0, 0, 0) 50%, rgb(5, 30, 36) 100%);

                ul{
                    @apply flex flex-col justify-center w-full;
                }
            }
        }

        .close-btn{
            
                @apply z-10;
                span{
                    &:nth-child(1) {
                        @apply top-[18px] w-0 left-1/2;
                    }

                    &:nth-child(2) {
                        @apply rotate-45;
                    }

                    &:nth-child(3) {
                        @apply -rotate-45;
                    }

                    &:nth-child(4) {
                        @apply top-[18px] w-0 left-1/2;
                    }
                }
            
        }
    }

    .container{
        @apply flex items-center justify-between max-w-7xl mx-auto;
    
        nav{

            .nav-panel{
                @apply hidden md:flex w-0 md:w-fit;
                @apply transition-all duration-200 ease-out;

                ul{
                    @apply text-center md:text-left;

                    li{
                        @apply inline-block mx-4 md:last:mr-0;
                        @apply my-4 md:my-0;

                        a{
                            @apply font-[200] text-lightblue relative;
                            @apply text-xl  md:text-base;

                            &::after{
                                content: "";
                                @apply transition-all duration-300;
                                @apply block absolute w-0 h-[1px] bg-lightblue bottom-[-1px] left-0;
                            }

                            &:hover{
                                &::after{
                                    content: "";
                                    @apply block absolute w-full h-[1px] bg-lightblue bottom-[-1px] left-0;
                                }
                            }
                        }
                    }
                }
            }

            .close-btn {
                @apply block md:hidden;
                @apply w-[2.6rem] h-[2.4rem] relative mx-auto transform rotate-0 cursor-pointer;
                @apply transition ease-in-out duration-500;
            
                span {
                    @apply block absolute h-[0.35rem] w-full bg-lightblue opacity-100 left-0 transform rotate-0 transition-all duration-200 ease-in-out;
                
                    &:nth-child(1) {
                        top: 0;
                    }
                    &:nth-child(2), &:nth-child(3) {
                        top: 38%;
                    }
                    &:nth-child(4) {
                        top: 76%;
                    }
                }
            }     
        }
    }
}