.main-footer{
    @apply bg-darkgray;
    border-top: 1px solid;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgb(255 255 255 / 10%) 50%, rgba(255, 255, 255, 0) 100%) 1;


    .container{
        @apply flex flex-col items-center justify-between max-w-7xl mx-auto p-5 pt-7;

        .subnav{
            @apply mt-4;
            ul{
                li{
                    @apply inline-block text-white text-sm font-[200] hover:text-lightblue;
                    @apply transition-colors;

                    &::after{
                        content: "|";
                        @apply mx-4 sm:mx-6;
                        pointer-events: none;
                        @apply text-white hover:text-white last:content-none;
                    }
                }
            }
        }

        p{
            @apply font-[200] text-white text-xs relative mx-auto;
        }

        ul{
            @apply text-center;
        }

        :global(.social-icon){
            transition: color 1s ease;
            @apply mx-[10px] my-0 align-middle;
            @apply text-white hover:text-lightblue transition-colors;                
        }

        svg{
            @apply text-white hover:text-lightblue transition-colors;
        }
    }
}